.changer {
    padding: 5px 10px;
}

#target1 {
    word-wrap: break-word;
}



.item1 {
    grid-area: area1;
    background-color: blue;
}

.item2 {
    grid-area: area2;
    background-color: burlywood;
}

.item3 {
    grid-area: area3;
    background-color: chartreuse;
}

.item4 {
    grid-area: area4;
}

.container {
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    height: 50vh;
    width: 80vw;
    

    grid-template-areas: 
    "area1 area2"
    "area3 area4";
}